/******** [- 01.css] TOP MENU & LEFT SIDE MENU *********/

body {
    background-color: #1C1D34;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}
#mainbg #bg1 {
    position: fixed;
    background-attachment: fixed;
    border-radius: 10px;
    height: auto;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0.25;
}
#navtitle {
    position: absolute;
    height: 75px;
    background-color: #FFFFFF;
    border-radius: 100px;
    box-shadow: 1px 1px 2px 2px rgb(247, 247, 247);
    top: 50px;
    left: 50px;
    right: 50px;
    z-index: 1;
}
#mininav {
    position: inherit;
    height: 65px;
    background-color: antiquewhite;
    border-radius: 100px;
    box-shadow: 1px 1px 2px 2px rgb(20, 20, 50);
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 3;
}
.logo img {
    position: absolute;
    top: 5px;
    left: 65px;
    height: 55px;
    width: 55px;
}
#mininav .title {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #1C1D34;
    top: -5px;
    left: 135px;
    text-align: left;
}
#mininav .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#mininav p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    color: #1C1D34;
    text-align: right;
}/*
i {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-weight: 600;
}
#mininav .home {
    top: 8px;
    right: 500px;
}
#mininav .user {
    top: 8px;
    right: 25px;
}
    .nav .fa-user {
        top: 22.5px;
        font-size: 15px;
        right: 75px;
        color: #1C1D34;
        text-align: right;
    }
#mininav .notif {
    top: 8px;
    right: 100px;
}
    .nav .fa-bell {
        top: 22.5px;
        font-size: 15px;
        right: 192.5px;
        color: #1C1D34;
        text-align: right;
    }
#mininav .cart {
    top: 8px;
    right: 220px;
}
    .nav .fa-cart-shopping {
        top: 22.5px;
        font-size: 15px;
        right: 252.5px;
        color: #1C1D34;
        text-align: right;
    }
#mininav .messages {
    top: 8px;
    right: 280px;
}
    .nav .fa-message {
        top: 22.5px;
        font-size: 15px;
        right: 350px;
        color: #1C1D34;
        text-align: right;
    }
#mininav .home {
    top: 8px;
    right: 380px;
}
    .nav .fa-home {
        top: 22.5px;
        font-size: 15px;
        right: 425px;
        color: #1C1D34;
        text-align: right;
    }*/


.toggle-btn {
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    top: 70px;
    left: 75px;
    color: #1C1D34;
}
#menu {
    position: absolute;
    /* display: none;  //Initially hide the menu */
    transition: opacity 1s ease; /* Smooth transition */
    opacity: 1; /* Initially invisible */
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px 2px rgb(247, 247, 247);
    width: 200px;
    text-align: left;
    background-position: left;
    height: 750px;
    padding-top: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}
.minimenu {
    position: inherit;
    height: 675px;
    background-color: antiquewhite;
    border-radius: 40px;
    box-shadow: 1px 1px 2px 2px rgb(20, 20, 50);
    top: 6px;
    left: 5px;
    right: 5px;
    padding-top: 75px;
    z-index: 2;
}
#menu.show {
    display: block;
    opacity: 1; /* Make it visible */
}
/* Additional styles for the menu items */
.hamburger-menu ul {
    list-style-type: none;
    padding-left: 10px;
}
.hamburger-menu li {
    padding: 10px;
    transition: transform 0.3s ease; /* Smooth transition for menu items */
    transform: translateY(-20px); /* Initially hidden */
}
.hamburger-menu li a:hover {
    color: green;
}
.hamburger-menu.show li {
    transform: translateY(0); /* Show menu items */
}
.hamburger-menu a {
    text-decoration: none;
    color: #1C1D34;
    font-size: 20px;
}

/* Styles for the icons */
.hamburger-menu a i {
    margin-right: 10px;
    font-size: 25px;
}

.hamburger-menu .logout {
    position: absolute;
    padding-top: 5px;
}
.hamburger-menu button {
    text-decoration: none;
    color: #1C1D34;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
}
.hamburger-menu button i {
    margin-right: 10px;
    font-size: 25px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



.sidebox {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px rgb(20, 20, 50);
    border-radius: 30px;
    right: 50px;
    top: 200px;
    width: 250px;
    height: 385px;
}
.sidebox2 {
    position: fixed;
    background-color: antiquewhite;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px rgb(20, 20, 50);
    border-radius: 30px;
    right: 60px;
    top: 195px;
    width: 245px;
    height: 380px;
}
.sbtext {
    position: fixed;
    color: #1C1D34;
    font-size: 45px;
    text-align: center;
    right: 75px;
    font-weight: bold;
    text-shadow:
        -2px -2px 0 purple,
        1px -1px 0 purple,
        -1px 1px 0 purple,
        1px 1px 0 white;
}
.sbtext:hover {
    color:antiquewhite;
    z-index: 1;
    text-shadow:
        -3px -3px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#bag01 {
    position: absolute;
    right: 50px;
    height: 400px;
    z-index: 1;
}

.cont {
    position: relative;
    top: 150px;
    left: 275px;
    height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}
