/* [- BuyNow.css] */

.buynow {
    position: absolute;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    left: 275px;
    right: 50px;
    top: 150px;
    height: 50px;
    padding: 5px 15px;
    color: antiquewhite;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.buynow2 {
    position: absolute;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    left: -2px;
    right: -2px;
    top: 60px;
    height: 450px;
    padding: 5px 15px;
    color: antiquewhite;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.buynow2 img {
    position: absolute;
    height: 100px;
    top: 25px;
    left: 25px;
    background-color: antiquewhite;
    border: 2px solid #000000;
    padding: 10px 5px;
    border-radius: 20%;
    
}
h1 {
    position: relative;
    text-align: center;
    color: antiquewhite;
    top: -15px;
}
h2 {
    font-size: 30px;
    position: relative;
    left: 135px;
    top: 25px;
}
.p1 {
    position: relative;
    left: 125px;
    top: -10px;
    padding: 10px;
    font-size: 25px;
}
.delivery {
    position: relative;
    border: 2px solid pink;
    padding-bottom: 10px;
    padding-left: 25px;
    height: 120px;
    top: -125px;
    left: 275px;
    width: 300px;
    border-radius: 25px;
    background-color: #31325f;
}
.cuz {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: -10px;
    color: pink;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.name {
    position: relative;
    top: -25px;
}
.number {
    position: relative;
    top: -65px;
    left: 150px;
}
.emaill {
    position: relative;
    top: -75px;
}
.address {
    position: relative;
    top: -86px;
}
.pay {
    position: absolute;
    left: 50px;
    top: 160px;
    font-size: 18px;
    z-index: 1;
}
.payyy #gcash {
    position: relative;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    padding: 15px 50px;
    top: -100px;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    left: 25px;
    width: 175px;
    border-radius: 20px;
}
.payyy #bank {
    position: relative;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    padding: 15px 50px;
    top: -140px;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    left: 25px;
    width: 175px;
    border-radius: 20px;
}
a {
    text-decoration: none;
    border-radius: 20px;
    color: antiquewhite;
}

.payyy #maya {
    position: relative;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    padding: 15px 50px;
    top: -155px;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    left: 325px;
    width: 175px;
    border-radius: 20px;
}
.payyy #cod {
    position: relative;
    background-color: #1c1d34;
    border: 2px solid antiquewhite;
    padding: 15px 50px;
    top: -195px;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    left: 325px;
    width: 175px;
    border-radius: 20px;
}
.order-control {
    position: absolute;
    text-align: end;
    left: 510px;
    bottom: 60px;
    z-index: 1;
}
.order-control button {
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 30px;
    top: 2.5px;
    margin: 0 2.5px;
    background-color: peachpuff;
    border-radius: 100px;
}
.order-control input {
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: peachpuff;
}
.order-control input::-webkit-outer-spin-button,
.order-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.line {
    position: absolute;
    top: 25px;
    left: 650px;
    height: 415px;
    border: 1px solid antiquewhite;
    z-index: 1;
}



.receipt {
    position: absolute;
    top: 15px;
    right: 135px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    color: #1c1d34;
}

.checkout-container {
    position: absolute;
    background-color: peachpuff;
    left: 675px;
    right: 25px;
    top: 25px;
    bottom: 100px;
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 5px antiquewhite;
    border: 0.5px solid white;
    text-align: left;
    color: #1c1d34;
}

.price-display {
    font-size: 18px;
}

.discount {
    color: rgb(41, 131, 41);
    font-weight: bold;
}

.total1 {
    position: relative;
    text-align: end;
}
.total1 span {
    background-color: antiquewhite;
    border: 2px solid black;
    color: #1c1d34;
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 10px;
}

.total2 {
    position: relative;
    text-align: end;
}

.total2 span {
    background-color: rgb(144, 255, 144);
    border: 2px solid black;
    color: #1c1d34;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#gcash.selected {
    background-color: rgb(32, 32, 150);
}

#maya.selected {
    background-color: rgb(32, 32, 150);
}
#bank.selected {
    background-color: rgb(32, 32, 150);
}
#cod.selected {
    background-color: rgb(32, 32, 150);
}


.payy {
    position: absolute;
    font-size: 20px;
    bottom: 10px;
    left: 675px;
    right: 25px;
    text-align: center;
    padding: 10px 25px;
    background-color: rgb(9, 43, 9);
    border-radius: 20px;
    border: 2px solid antiquewhite;
}
